{% extends "base.html" %}
{% load static %}

{% block title %}

about us

{% endblock title %}


{% block content %}
<div class="ab_intro">
    <p class="a_intro">
        Welcome to CISCOM, your gateway to comprehensive learning and professional development. Established in collaboration with Jomo Kenyatta University of Agriculture and Technology (JKUAT), we are dedicated to providing high-quality education in a wide range of disciplines, from computer packages and business courses to specialized training in Cisco networking and Huawei technologies.
    </p>
</div>
 <div class="p_title">
    our mission
 </div>
<div class="ab_mission">
    <p class="mission">
        To empower individuals globally through transformative education and innovative learning experiences, fostering leadership, creativity, and technological excellence in collaboration with Jomo Kenyatta University of Agriculture and Technology (JKUAT), Cisco, and Huawei
    </p>
<div class="globe">
    <img src="{% static "courses/images/globe.jpeg" %}" alt="globe">
</div>
</div>

<div class="ab_info">
    At CISCOM, we pride ourselves on offering a diverse portfolio <br> 
    of courses designed to meet the evolving needs of students and <br>
    professionals alike. Our programs combine cutting-edge curriculum <br>
    with practical, hands-on experience, ensuring that our graduates <br>
    are well-prepared to excel in their chosen fields.<br>
</div>
<div class="p_title">
    our advantages
 </div>

 <div class="ab_adv">
    <div class="adv_hld">
        <div class="adv">
            <p class="adv_title">International Certification</p>
            <p class="advantage">
                Recognizing the importance of global credentials, CISCOM offers international certifications in partnership with Cisco and Huawei. Our courses provide students with the opportunity to earn prestigious certifications such as CCNA, CCNP, and Huawei certifications in AI, data analysis, and cybersecurity. These certifications validate skills on a global scale, enhancing career prospects and opening doors to international opportunities
            </p>
          </div>
        <div class="adv_img">
            <img src="{% static "courses/images/cert.jpeg" %}" alt="image">
        </div>
    </div>

    <div class="adv_hld">

        <div class="adv alt">
        <p class="adv_title">Modern facilities</p>
        <p class="advantage">
            Equipped with  digital classrooms, and cutting-edge technology, CISCOM ensures an immersive learning environment. Our modern facilities are designed to enhance practical skills and facilitate innovative learning experiences, ensuring students are prepared for the demands of today's industries.
        </p>
    </div>
        <div class="adv_img alter">
            <img src="{% static "courses/images/modern.jpeg" %}" alt="image">
        </div>
    </div>

    <div class="adv_hld">
        <div class="adv">
            <p class="adv_title">Comprehensive Support</p>
            <p class="advantage">
                At CISCOM, we prioritize student success with comprehensive support services. From academic guidance to career counseling and technical assistance, our dedicated team ensures that every student receives personalized support throughout their educational journey. We are committed to nurturing talent and empowering students to achieve their academic and professional goals.
            </p>
        </div>        
        <div class="adv_img">
            <img src="{% static "courses/images/support.jpeg" %}" alt="image">
        </div>
    </div>


 </div>

 <div class="ab_info">
    As a strategic partner of JKUAT, we uphold the university's <br>
    commitment to academic excellence and innovation.<br>
    Our courses are taught by experienced faculty members<br>
     and industry experts, delivering knowledge that is<br>
      both relevant and valuable in today's competitive job market.<br>
</div>

<div class="outro">
    At CISCOM, we are dedicated to shaping the future of education and empowering our students to reach their full potential. Our commitment to excellence, combined with our strategic partnerships and state-of-the-art facilities, ensures that we provide a learning experience that is both comprehensive and transformative. We invite you to join us on this journey towards academic and professional success. Together, we can achieve greatness and make a lasting impact in our communities and beyond. Welcome to CISCOM – where your future begins.
</div>
{% endblock content %}

