{% extends "admin.html" %}
{% load course %}
{% block title %}
  Student Info
{% endblock title %}

{% block content %}
<h1>Student Information</h1>

<div class="student-details">
    <h2>{{ student.first_name }} {{ student.last_name }}</h2>
    <p>Username: {{ student.username }}</p>
    {% if student.email %}
        <p>Email: {{ student.email }}</p>
    {% endif %}
    <h3>Enrolled Courses</h3>
    <ul>
        {% for enrollment in enrollments %}
            {% for course in enrollment.course.all %}
                <li>{{ course.title }} ({{ course.period_in_weeks }} weeks) - ksh{{ course.fee }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>




<div class="payment-details">
    <h3>Performance Details</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Module</th>
                <th>Score</th>
                <th>Overall Score</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
                {% with overall_performance=overall_performances|get_item:enrollment.id %}
                {% for performance in performances %}
                    {% if performance.enrollment.id == enrollment.id %}
                    <tr>
                        <td style="font-family: 'Lato', sans-serif;">{{ performance.module.title }}</td>
                        <td><b>{{ performance.score }}</b></td>
                        {% if forloop.first %}
                        <td rowspan="{{ enrollments.count }}">
                            {{ overall_performance.overall_score }}
                        </td>
                        <td rowspan="{{ enrollments.count }}">
                            {{ overall_performance.status }}
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="4">No performance records available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<div class="payment-details">
    <h3>Payment History</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Payment Date</th>
                <th>Amount Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.payment_date }}</td>
                    <td>{{ payment.amount }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No payments have been made.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total Summary</h3>
    <p>Total Amount: ksh {{ total_amount }}</p>
    <p>Total Paid: ksh {{ total_paid }}</p>
    <p>Total Balance: ksh {{ total_balance }}</p>
</div>

<div>
    {% for enrollment in enrollments %}
        <a href="{% url 'student_payment' enrollment.id %}">Register Payment</a>
    {% endfor %}
</div>

<div>
    <a href="{% url 'student_info_pdf' student.id %}">Download Student Info PDF</a>
</div>
{% endblock %}
